@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<article class="content px-4">
			<ErrorBoundary>
				<ChildContent>
					@Body
				</ChildContent>
				<ErrorContent Context="ex">
					<p>@ex.Source</p>
					<p>@ex.InnerException</p>
					<p>@ex.Message</p>
				</ErrorContent>
			</ErrorBoundary>
		</article>
	</main>
</div>
